<%- include("header") -%>

<h2>Hello man This is me... srinu_mocharla</h2>
<p>There is something to tell about him ... he is going to rock his future.. may be he is one of the future billionaries from India... One of the best and top ceo's that the world has never seen before...</p>

<%- include("footer") -%>